<a href="https://www.accuweather.com/bs/ba/sarajevo/33028/current-weather/33028" class="aw-widget-legal">

    
</a>
<div 
     style="resize:both;"
     id="awtd1528075058806" 
     class="aw-widget-36hour"
     data-locationkey="33028" 
     data-unit="c" 
     data-language="bs"
     data-useip="false" 
     data-uid="awtd1528075058806" 
     data-editlocation="false">

</div>
<script type="text/javascript" src="https://oap.accuweather.com/launch.js">

</script>
