@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="form-horizontal">
        
        <h4>Unesite podatke u željenom letu</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="Destinacija">Odaberite destinaciju</label>
            <input type="text"> 
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="DatumPolaska">Odaberite datum polaksa</label>
            <input type="datetime-local">
         </div>
        
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Provjeri dostupnost" class="btn btn-default">
        </div>
       
        
    </div>

    
</div>